* {
    margin: 0;
}

.game-area-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-left: 550px;
    padding-right: 550px;
    margin-bottom: 200px;
}

.game-area-container .items {
    display: flex;
}

button.audio {
    margin-right: auto;
	outline: none;
	cursor: pointer;
	border: none;
	background: none;
}

.score{
    font-weight: bold;
    font-size: 32pt;
    margin-left: auto;
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 17px solid #4e4e4e;
    border-radius: 10px; 
    background-image: url("images/stars.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    padding-left: 497px;
    padding-right: 497px;
    /*padding-inline: 994.401px;*/
    /*width: 994.401px;*/
    height: 698.649px;
}
