* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono", sans-serif;
    background-color: white;
}

#topnav {
    display: flex;
	align-items: center;
    margin-top: 20px;
    top: 0;
    position: sticky;
}

button.invert-colors {
    margin-left: auto;
    margin-right: 60px;
    width: 45px;
}

.game-canvas-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 70vw;
}

.game-canvas-container .items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 12px;
    position: relative; /* Ensure .items is positioned relative */
    height: 50px; /* Set a fixed height for the container */
}

.game-canvas {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    border: 17px solid #4e4e4e;
    border-radius: 20px;
    background-image: url("../images/stars.jpg");
    /*background-repeat: repeat-y;*/
    background-repeat:space;
    background-size: 100%;
    background-attachment: fixed;
    position: relative; /* Items are relative to the game area */
    height: 80vh;
    flex-direction: row;
}

.game-canvas #fullscreen-control {
    filter: invert(1);
    width: 2.5rem;
    /* margin-bottom: auto; */
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.start-text {
    font-size: 4.5vmin;
    color: white;
    filter: invert(10%);
    font-weight: bold;
    position: absolute;
    bottom: 50%;
    text-align: center;
    min-width: 80%;
    z-index: 100;
}

button.audio, button.invert-colors {
	outline: none;
	cursor: pointer;
	border: none;
	background: none;
    padding: 0;
    scale: 0.9;
}

button.audio {
    margin-right: auto;
}

#audio-control-icon {
    bottom: auto;
}

.score{
    font-weight: bold;
    font-size: 2rem;
    margin-left: auto;
    margin-right: 5px;
}

.score .score-text {
    display: inline;
}

@keyframes moveBackground {
    0% {
        background-position: center bottom;
    }
    100% {
        background-position: center top;
    }
}

#projectile {
    filter: invert(80%);
    z-index: 2;
    position: absolute;
}

#player {
    margin-bottom: 10px;
    filter: invert(10%);
    z-index: 2;
    position: absolute;
    width: 10.5rem;
    transition: left 0.2s ease-in-out; /* Adjust the duration and easing as needed */
}

#asteroid {
    filter: grayscale(100%);
    position: absolute;
}

footer {
    display: flex;
	text-align: center;
	padding: 22px;
    align-items: center;
    height: fit-content;
}

.links-container {
    margin-left: auto;
    margin-right: 20px;
}

.github-icon {
    width: 40px;
    filter: invert(0.9);
}
