* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
}

#topnav {
    display: flex;
	align-items: center;
    margin-top: 20px;
    top: 0;
    position: sticky;
}

button.invert-colors {
    margin-left: auto;
    margin-right: 60px;
    width: 45px;
}

.game-area-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 70vw;
}

.game-area-container .items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 12px;
    position: relative; /* Ensure .items is positioned relative */
    height: 50px; /* Set a fixed height for the container */
}

button.audio, button.invert-colors {
	outline: none;
	cursor: pointer;
	border: none;
	background: none;
    padding: 0;
}

button.audio {
    margin-right: auto;
}

#audio-control-icon {
    bottom: auto;
}

.score{
    font-weight: bold;
    font-size: 32pt;
    margin-left: auto;
}

.score .score-text {
    display: inline;
}

@keyframes moveBackground {
    0% {
        background-position: center bottom;
    }
    100% {
        background-position: center top;
    }
}

#projectile {
    visibility: hidden; 
    position: absolute;
    filter: invert(80%);
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    border: 17px solid #4e4e4e;
    border-radius: 10px; 
    background-image: url("/images/stars.jpg");
    /*background-repeat: repeat-y;*/
    background-repeat:space;
    background-size: cover;
    background-attachment: fixed;
    position: relative; /* Items are relative to the game area */
    height: 80vh;
}
